@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --font-family: 'Quicksand', sans-serif;
    --bg-color: #1F4172;
    --primary-color: #F1B4BB;
    --second-color: #132043;   
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.message {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color) ;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-play {
    padding: 8px 15px;
    font-size: 15px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-top: 20px;
}

.btn-play:hover {   
    cursor: pointer;
}